.navbar {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding-top: 5px;
}
.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
}
.navbar a:hover {
  color: #dddddd;
}
